doctype html
html(lang="en")
    head
        title Chat with authentication
        script(src="/js/lib/jquery-1.11.1.js" type="text/javascript")
        script(src="/primus/primus.js" type="text/javascript")
        script(src="/js/index.js" type="text/javascript")
    body
        div.pageWrap Site
            div.logedin
                if user
                    p= user.userName
                else
                    p You need to log in !