doctype html
html(lang="en")
    head
        title Chat with authentication
    body
        div.pageWrap Registeration page
            h2 Register
            form(method="post" action="/register")
                input(type="text" name="User[userName]" placeholder="User Name")
                input(type="text" name="User[password]" placeholder="Password")
                input(type="text" name="User[firName]" placeholder="First Name")
                input(type="text" name="User[lastName]" placeholder="Last Name")
                input(type="text" name="User[eMail]" placeholder="Email Address")

                button(id="submit" name="submit") Submit